
.prices__block{
    padding: 25px;
    border: 1px #cdcdcd solid;
    border-radius: 25px;
}
.prices__block .link-circle{
    background-color: #ff4a17 !important;
    color: #fff !important;
}
.prices__block .link-custom:hover .link-circle{
    background-color: #e6e6e6 !important;
    color: #000 !important;
}
.prices__block:hover{
    background-color: #ff4a17;
    transition: 0.8s;
}
.prices__block:hover .prices__title{
    color: #fff;
}
.prices__block:hover .prices{
    color: #fff;
}
.prices__block:hover .prices__period{
    color: #fff;
}
.prices__block:hover .prices__description{
    color: #fff;
}
.prices__block:hover .prices__list{
    color: #fff;
}
.prices__block:hover .prices__list:before{
    color: #fff;
}
.prices__title{
    font-weight: 400;
}
.prices{
    font-weight: 400;
}
.prices__period{
    color: #0009;
    font-size: 18px;
    font-weight: 400;
}
.prices__description{
    font-size: 18px;
}
.prices__list-parent{
    min-height: 315px;
    line-height: 45px;
}
.prices__list{
    font-size: 18px;
    font-weight: 500;
}
.prices__list:before{
    content: "\f058"; 
    font-weight: 400;
    font-family: "Font Awesome 5 Pro";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right:10px;
    color: #ff4a17;
}
.price_currency{
    font-size: 26px;
}
.filter-btn {
    border: none;
    outline: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 20px;
    background-color: unset;
    color: #000;
}
.filter-btn:hover{
    background-color: #ff4a17;
    color: #fff;
}
.filter-btn.active {
    background-color: #ff4a17;
    color: #fff;
}
.filterDiv {
    display: none;
}
.show {
    display: block;
}
.prices__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
#myBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container{
    display:inherit;
    border: 1px solid #c7c5c5;
    border-radius: 25px;
}
@media only screen and (max-width: 767px) {
    .prices__block{
        margin: 15px 0;
    }
    .prices__header{
        display: block;
    }
    #myBtnContainer {
        justify-content: left;
        padding-left: 30px;
    }
}
@media only screen and (max-width: 575px){
    #myBtnContainer{
        padding-left: 15px;
    }
}
.breadcumb-title{
    font-size: 150px;
    text-align: center;
}
.breadcumb-list{
    text-align: center;
}
.breadcumb-list_item{
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    margin: 0 25px;
    color: #616161;
}
.breadcumb-list_item a{
    color: #616161;
}
.breadcumb-list_item a::after{
    content: ">";
    padding-left: 25px;
    color: #616161;
}
.faq-section .faq-loop.accordion .card .card-body{
    background-color: unset;
    color: #000;
}
.nav-contact{
    display: none;
}
.header .header-nav .nav-container.breakpoint-on .nav-pushed-item, header .header-nav .nav-container.breakpoint-on .navbar-close, header .header-nav .nav-container.breakpoint-on .nav-contact{
    display: block;
}
.header .header-nav .nav-container.breakpoint-on .nav-pushed-item .main-btn{
    margin-top: 275px;
}
@media only screen and (max-width: 992px) {
    .logo{
        width: 130px !important;
    }
    .f-logo{
        width: 130px !important;
    }
    .wcu-section.box-style .wcu-inner::after {
        display: none;
    }
}

@media only screen and (max-width: 575px){
    .footer{
        text-align: center;
    }
}